* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 300px;
    width: 100%;
    display: inline-flexbox;
    justify-content: center;
    /* alinha horizontalmente */
    align-items: center;
    /* alinha verticalmente */
}

body {
    background-color: rgb(17, 170, 132);
}

h2 {
    text-align: center;
}

form {
    margin-top: 16px;
    text-align: center;
}

input,
textarea{
    display: block;
    padding: 4px;
    margin-bottom: 4px;
    width: 100%;
    resize: none;
}

button {
    background-color: #084b24;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
}

button:hover {
    background-color: #347750;
}

.success-message {
    background-color: #260e7a;
    color: #ffffff;
    padding: 16px;
    display: none;
}

.error-message {
    background-color: red;
    color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}